/*
*   Decrease vertical spacing between projects
*/
.c-ProjectsDetailedList-project {
    margin-bottom: -3px;
}

/* Decrease vertical spacing between project title and content */
.c-ProjectsDetailedList-project-title {
    margin-bottom: -8px;
}

/* Decrease font weight of short description */
.c-ProjectsDetailedList-project-title-short-description {
    font-weight: 300;
}

/* Style the link icon */
.c-ProjectsDetailedList-project-title a {
    font-size: 12px;
    position: relative;
    top: -2px;
    left: 6px;
}

/* Adjust vertical spacing around projects tags */
.c-ProjectsDetailedList-project .c-Tags {
    margin-top: 7px;
    margin-bottom: 3px;
}
.c-ProjectsDetailedList-project.c-ProjectsDetailedList-project.expanded
    .c-Tags {
    margin-bottom: 0px;
}

/*
*   Decrease font size of the description, and hide it when the project is not
*   expanded
*/
.c-ProjectsDetailedList-project-description {
    font-size: 16px;
    display: none;
}
.c-ProjectsDetailedList-project.expanded
    .c-ProjectsDetailedList-project-description {
    display: initial;
}

/*
*   Decrease the top margin from the first paragraph in the description, and
*   remove the bottom margin from the last paragraph
*/
.c-ProjectsDetailedList-project-description p:first-of-type {
    margin-top: 8px;
}
.c-ProjectsDetailedList-project-description p:last-of-type {
    margin-bottom: 0px;
}

/* Style the show more / show less link */
.c-ProjectsDetailedList-project a {
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    color: var(--black);
}
