/* Restrict page width and center it */
.p-Home {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Vertically space avatar and contact links from top bar and content */
.p-Home .c-Avatar {
    margin-top: 40px;
    margin-bottom: 10px;
}
.p-Home .c-ContactLinks {
    margin-bottom: 50px;
}
