/* Restrict page width and center it */
.p-Post {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/*
*   Decrease margin between post title and date, reset line-height (which is
*   somehow decreased by the global html setting)
*/
.p-Post-title {
    margin-top: 32px;
    margin-bottom: 8px;
    line-height: initial;
}

/* Style post date font */
.p-Post-date {
    color: var(--light-black);
    font-size: 18px;
}

/* Increase margin between post header and content */
.p-Post header {
    margin-bottom: 32px;
}
