/* Make intro full-width, with centered text, and some vertical margin */
.c-Intro {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* Increase font size of description */
.c-Intro-description {
    font-size: 22px;
}

/*
*   Reduce spacing between description lines, and keep the same line spacing
*   even on line breaks
*/
.c-Intro-description p {
    margin: 0px;
}
