/* Center-align the avatar image */
.c-Avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Size and round the avatar image */
.c-Avatar img {
    height: 130px;
    width: 130px;
    border-radius: 100%;
}
