/* Reduce the size of the section title */
.c-PostsList-title {
    font-size: 16px;
}

/*
*   Style ul bullets, working around Firefox bug
*   https://bugzilla.mozilla.org/show_bug.cgi?id=36854
*/
.c-PostsList ul {
    padding-left: 40px;
}
.c-PostsList li {
    list-style-type: none;
    position: relative;
}
.c-PostsList li::before {
    content: "●";
    position: absolute;
    font-size: 16px;
    top: -2px;
    left: -22px;
}

/* Style post-link text */
.c-PostsList-post a {
    text-decoration: none;
    color: var(--black);
}
.c-PostsList-post:hover a {
    text-decoration: underline;
}

/* Make post title stand out and make post date smaller */
.c-PostsList-post-title {
    margin-bottom: 0px;
}
.c-PostsList-post-date {
    font-size: 16px;
    color: var(--light-black);
}
