@import "~normalize.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

@import "./utils/colors.css";

/* Set base text look */
html {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    color: var(--black);
}

/* Apply border-box layout model to all elements */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
